<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <title>Ultra Mega Secure Fibonacci App</title>
</head>

<body class="container">

    <h1>Ultra Mega Secure Fibonacci App</h1>

    <p th:text="${number} != null ? ${number} : 'No number yet.'"> </p>
    <p>Press increment to recieve a Ultra Secure Fibonacci Number</p>
    <form>
        <input class="btn btn-primary" type="submit" value="increment" formaction="/client/increment"
            formmethod="get"></input>
    </form>
    <p>Reset Ultra Mega secure Fibonacci Number</p>

    <form>
        <input class="btn btn-danger" type="submit" value="reset" formaction="/client/reset" formmethod="post"></input>
    </form>

</body>

</html>